<?xml version="1.0" encoding="utf-8"?>
<I c="CasPreferenceCategory" i="cas_preference_category" m="cas.cas_preference_category" n="__NAME__" s="__INSTANCE__">
  <V n="_display_data" t="optional_display_mixin">
    <U n="optional_display_mixin">
      <V n="instance_display_description" t="enabled_display_description">
        <T n="enabled_display_description">__DESCRIPTION_KEY__</T>
      </V>
      <V n="instance_display_icon" t="enabled_display_icon">
        <T n="enabled_display_icon">__ICON_KEY__</T>
      </V>
      <V n="instance_display_name" t="enabled_display_name">
        <T n="enabled_display_name">__DISPLAY_NAME_KEY__</T>
      </V>
      <V n="instance_display_tooltip" t="enabled_display_tooltip">
        <T n="enabled_display_tooltip">__TOOLTIP_KEY__</T>
      </V>
    </U>
  </V>
  <U n="_randomization_number_of_preferences">
    <T n="lower_bound">2</T>
    <T n="upper_bound">6</T>
  </U>
</I>
