<?xml version="1.0"?>
<I c="Buff" s="__INSTANCE__" i="buff" m="buffs.buff" n="__NAME__">
  <T n="audio_sting_on_add" p="InGame\Audio\Stings\sting_buff_gain.propx">39b2aa4a:00000000:8af8b916cf64c646</T>
  <T n="audio_sting_on_remove" p="InGame\Audio\Stings\sting_buff_loss.propx">39b2aa4a:00000000:3bf33216a25546ea</T>
  <T n="buff_description">__DESCRIPTION_KEY__</T>
  <T n="icon">__ICON_KEY__</T>
  <T n="buff_name">__DISPLAY_NAME_KEY__</T>
  <T n="mood_type">0</T>
  <T n="mood_weight">0</T>
  <U n="game_effect_modifier">
    <L n="_game_effect_modifiers">
      <V t="autonomy_modifier">
        <U n="autonomy_modifier">
          <L n="commodities_to_add">
            <T>__STATISTIC_ID__</T>
          </L>
        </U>
      </V>
    </L>
  </U>
  <T n="visible">False</T>
</I>
