<?xml version="1.0"?>
<I c="Preference" s="__INSTANCE__" i="trait" m="traits.preference" n="__NAME__">
  <T n="trait_origin_description">0x00000000</T>
  <T n="preference_item">__PREFERENCE_ITEM_ID__</T>
  <L n="ages">
    <E>TEEN</E>
    <E>YOUNGADULT</E>
    <E>ADULT</E>
    <E>ELDER</E>
  </L>
  <T n="icon">__ICON_KEY__</T>
  <T n="display_name">__DISPLAY_NAME_KEY__</T>
  <T n="display_name_gender_neutral">__DISPLAY_NAME_KEY__</T>
  <T n="trait_description">__DESCRIPTION_KEY__</T>
  <E n="trait_type">__TRAIT_TYPE__</E>
  <L n="buffs">
    <U>
      <T n="buff_type">__BUFF_ID__</T>
    </U>
  </L>
  <L n="species">
    <E>HUMAN</E>
  </L>
  <L n="conflicting_traits">
    <T>__CONFLICTING_TRAIT_ID__</T>
  </L>
</I>
