<?xml version="1.0" encoding="utf-8"?>
<I c="Buff" i="buff" m="buffs.buff" n="__NAME__" s="__INSTANCE__">
  <V n="_temporary_commodity_info" t="enabled">
    <U n="enabled">
      <T n="max_duration">240</T>
    </U>
  </V>
  <U n="game_effect_modifier">
    <L n="_game_effect_modifiers">
      <V t="autonomy_modifier">
        <U n="autonomy_modifier">
          <L n="relationship_multipliers">
            <U>
              <T n="key">16650<!--LTR_Friendship_Main--></T>
              <U n="value">
                <E n="apply_direction">INCREASE</E>
                <T n="multiplier">__FRIENDSHIP_MULTIPLIER__</T>
              </U>
            </U>
            <U>
              <T n="key">16651<!--LTR_Romance_Main--></T>
              <U n="value">
                <E n="apply_direction">INCREASE</E>
                <T n="multiplier">__ROMANCE_MULTIPLIER__</T>
              </U>
            </U>
          </L>
        </U>
      </V>
__AFFORDANCE_MODIFIER_BLOCKS__
    </L>
  </U>
  <T n="show_timeout">False</T>
  <T n="visible">False</T>
</I>
