<?xml version="1.0"?>
<I c="CharacteristicPreferenceItem" s="__INSTANCE__" i="cas_preference_item" m="cas.cas_preference_item" n="__NAME__">
  <T n="cas_preference_category">__CATEGORY_INSTANCE__</T>
  <T n="dislike">__DISLIKE_TRAIT_ID__</T>
  <T n="like">__LIKE_TRAIT_ID__</T>
  <L n="trait_map">
__TRAIT_MAP_LINES__
  </L>
</I>
