<?xml version="1.0" encoding="utf-8"?>
<I c="SocialMixerInteraction" i="interaction" m="interactions.social.social_mixer_interaction" n="__NAME__" s="__INSTANCE__">
  <T n="allow_autonomous">True</T>
  <T n="allow_user_directed">False</T>
  <T n="visible">False</T>
  <E n="target_type">TARGET</E>
  <L n="interaction_category_tags">
    <E>Interaction_Mixer</E>
    <E>Interaction_All</E>
    <E>Interaction_SocialAll</E>
    <E>Interaction_SocialMixer</E>
    <E>Interaction_Friendly</E>
  </L>
  <L n="basic_extras">
    <V t="loot">
      <U n="loot">
        <L n="loot_list">
          __LOOT_LINES__
        </L>
        <V n="timing" t="at_end">
          <U n="at_end"/>
        </V>
      </U>
    </V>
  </L>
</I>
