<?xml version="1.0" encoding="utf-8"?>
<I c="TuningInjector" i="snippet" m="lot51_core.snippets.injector" n="__NAME__" s="__INSTANCE__">
  <T n="minimum_core_version">1.3.0</T>
  <T n="mod_name">Sign Compatibility</T>
  <T n="creator_name">Plum Antics</T>
  <L n="inject_to_mixer_list">
__MIXER_LIST_BLOCKS__
  </L>
</I>
